@using System.Security.Claims;
@model TopicViewModel


@{
    ViewData["Title"] = "تاپیک ها";

}

<h1 class="mb-3">تاپیک های تالار @Model.Room.Title</h1>
<div>
    <a class="btn btn-success m-3" asp-action="SubjectDetails" asp-controller="Home" asp-route-id="@Model.Room.SubjectId">
        بازگشت
    </a>
</div>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a onclick="showPopupModal('@Url.Action("Create","Topics",new {id = Model.Room.Id},protocol:Context.Request.Scheme)','ایجاد تاپیک')"
           class="btn btn-primary m-3 text-white">
            ایجاد تاپیک جدید در این تالار
        </a>
    }
    else
    {
        <a onclick="showPopupModal('@Url.Action("Login","Account",null,protocol:Context.Request.Scheme)','ورود به سایت')"
           class="btn btn-primary m-3 text-white">
            ایجاد تاپیک جدید در این تالار
        </a>
    }
</div>

<div id="view-all-topics">

    @await Html.PartialAsync("_ViewAllTopicsOfRoom",Model)
</div>



@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Custom.js"></script>


}