@model IEnumerable<UserLikeTopic>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div>
        <a onclick="showPopupModal('@Url.Action("Details","Users",new {id = item.UserId},protocol:Context.Request.Scheme)','مشخصات کاربر')"
           class="link text-primary">

            @item.User.Name @item.User.Family

        </a>
    </div>
}
