@model FroumSite.Areas.Admin.Models.ViewModels.PostsViewModel

@{
    ViewData["Title"] = "پنل ادمین " + User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value + " | لیست پست ها" ;
}

<h1 class="mb-3">پست ها</h1>

<a onclick="showPopupModal('@Url.Action("Create","Posts")','افزودن پست جدید')"
   class="btn btn-primary m-3 text-white">
    افزودن پست جدید
</a>

<div id="posts-admin-panel">
    @await Html.PartialAsync("../Posts/_PostsPartial.cshtml",Model)
</div>

@section Scripts{
    <script src="~/js/Custom.js">

    </script>
}