@model FroumSite.Areas.Admin.Models.ViewModels.RoomsViewModel

@{
    ViewData["Title"] = "پنل ادمین " + User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value + " | لیست تالار ها";
}

<h1 class="mb-3">تالار ها</h1>

<a onclick="showPopupModal('@Url.Action("Create","Rooms")','افزودن تالار جدید')"
   class="btn btn-primary m-3 text-white">
    افزودن تالار جدید
</a>

<div id="rooms-admin-panel">
    @await Html.PartialAsync("../Rooms/_RoomsPartial.cshtml",Model)
</div>




@section Scripts{
    <script src="~/js/Custom.js">

    </script>
}