@model IEnumerable<FroumSite.Models.Subject>

@{
    ViewData["Title"] = "پنل ادمین " + User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value + " | لیست موضوعات";
}

<h1 class="mb-3">موضوعات</h1>


<a onclick="showPopupModal('@Url.Action("Create","Subjects")','افزودن موضوع جدید')"
   class="btn btn-primary m-3 text-white">
    افزودن موضوع جدید
</a>

<div id="subjects-admin-panel">
    @await Html.PartialAsync("../Subjects/_SubjectsPartial.cshtml",Model)
</div>

@section Scripts{


    <script src="~/js/Custom.js">

    </script>


}