
@model IEnumerable<FroumSite.Models.User>

@{
    ViewData["Title"] = "پنل ادمین " + User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value + " | لیست کاربران";
}

<h1 class="mb-3">کاربران</h1>

@* <a asp-action="Create" asp-controller="Users" class="btn btn-info mb-3">افزودن کاربر جدید</a>
 *@
<a onclick="showPopupModal('@Url.Action("Create","Users")','افزودن کاربر جدید')"
   class="btn btn-primary m-3 text-white">
    افزودن کاربر جدید
</a>

<div id="users-admin-panel">
    @await Html.PartialAsync("../Users/_UsersPartial.cshtml",Model)
</div>
 
@section Scripts{
    <script src="~/js/Custom.js"></script>
}