@model RegisterViewModel

@{
    ViewData["Title"] = "افزودن کاربر جدید";
    Layout = null;
}

<form class="col-md-12" asp-action="Save" id="frmCreateUser" method="post" onsubmit="return jQueryAjaxPost(this,'users-admin-panel')">

    <div class="row ">
        <div class="col-md-6 form-group">
            <label asp-for="Name"></label>
            <input class="form-control" class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>

        </div>

        <div class="form-group col-md-6">
            <label asp-for="Family"></label>
            <input class="form-control" asp-for="Family" />
            <span class="text-danger" asp-validation-for="Family"></span>
        </div>
    </div>



    <div class="form-group">
        <label asp-for="Birthday"></label>
        <input class="form-control" type="date" asp-for="Birthday" />
        <span class="text-danger" asp-validation-for="Birthday"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsAdmin"></label>
        <div class="form-control">
            <input type="checkbox" asp-for="IsAdmin" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="RePassword"></label>
        <input class="form-control" asp-for="RePassword" />
        <span class="text-danger" asp-validation-for="RePassword"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>

    <div class="form-group" id="RegisterDateDiv">
        <label asp-for="RegisterDate"></label>
        <input class="form-control" type="date" id="RegisterDateInput" asp-for="RegisterDate" />
        <span class="text-danger" asp-validation-for="RegisterDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sex"></label>
        <select class="form-control" asp-for="Sex">
            <option value="Male">مرد</option>
            <option value="Female">زن</option>
        </select>
        <span class="text-danger" asp-validation-for="Sex"></span>
    </div>

    <div class="form-group">
        <input class="btn btn-success btn-block" type="submit" value="ذخیره" />
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}