@model IEnumerable<FroumSite.Models.Subject>

<div id="Details">
    <div class="row">
        @foreach (var item in Model)
        {

            <button class="btn btn-success  btn-lg  m-1"
                    data="@item.Id"
                    id="btnShowSubjectDetails">
                @item.Title
            </button>

        }
    </div>
</div>

@section Scripts{

    <script src="~/js/Custom.js"></script>
}