@model IEnumerable<FroumSite.Models.Subject>

@{
    ViewData["Title"] = "انجمن سجاد";
}

<div class="row">
    @foreach (var item in Model)
    {

        <a class="btn btn-success  btn-lg  m-1"
           asp-action="SubjectDetails" class="btn" asp-controller="Home" asp-route-Id="@item.Id">
            @item.Title
        </a>
    }
</div>



