@model IEnumerable<FroumSite.Models.Subject>

@{
    ViewData["Title"] = "انجمن سجاد";
}
<div id="Details">
    <div class="row">
        @foreach (var item in Model)
        {

            <a class="btn btn-success  btn-lg  m-1"
                    asp-action="SubjectDetails"
                    asp-route-id="@item.Id">
                @item.Title
            </a>
                
        }
    </div>
</div>



@section Scripts{
    <script src="~/js/Custom.js"></script>
}