@model IEnumerable<FroumSite.Models.Subject>

@{
    ViewData["Title"] = "انجمن سجاد";
}

<div>
    @foreach (var item in Model)
    {
        <a asp-action="Index" class="btn" asp-controller="Rooms" asp-route-Id="@item.Id">
            <div class="card text-white bg-info  col-lg-1 " style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">@item.Title</h4>
                </div>
            </div>
        </a>
    }
</div>