@model FroumSite.Areas.Admin.Models.ViewModels.PostsViewModel

@{
    ViewData["Title"] = "افزودن پست جدید";
}

<form asp-action="Save" method="post">

    <div class="form-group">
        <label asp-for="Caption"></label>
        <input asp-for="Caption" />
        <span asp-validation-for="Caption"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label" asp-for="UploaderName"></label>
        <select asp-for="UserId" class="form-control">
            @foreach (var item in Model.Users)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="UploaderName"></span>
    </div>

    <div class="form-group">
        <label asp-for="TopicTitle"></label>
        <select asp-for="TopicId" class="form-control">
            @foreach (var item in Model.Topics)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
        <span asp-validation-for="TopicTitle"></span>
    </div>

    <div class="form-group">
        <input class="btn btn-success" type="submit" value="ذخیره" />
    </div>

</form>