@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.PostsViewModel
@{
    ViewData["Title"] = "حذف پست";
    Layout = null;
}



<form method="post" asp-action="DeleteConfirmed" onsubmit="return DeleteEntityByAdmin(this,'posts-admin-panel',@Model.Id)">

    <h3 class="bg-danger text-white p-2 mb-2 mt-2 col-12">
        آیا می خواهید پست با کپشن

        <span>
            <span class="text-black-50">
                &#10090;
            </span>
            <span>
                @Model.Caption
            </span>
            <span class="text-black-50">
                &#10091;
            </span>
        </span>

        حذف شود ؟
    </h3>

    <input type="submit" class="btn btn-danger" value="بله" />
    <input class="btn btn-success" type="button" data-dismiss="modal" value="خیر">
</form>

