@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.RoomsViewModel
@{
    ViewData["Title"] = "حذف تالار";
    Layout = null;
}

<form method="post" asp-action="DeleteConfirmed" onsubmit="return DeleteEntityByAdmin(this,'rooms-admin-panel',@Model.Id)">

    <h3 class="bg-danger text-white p-2 mb-2 mt-2 col-12">
        آیا می خواهید تالار با عنوان

        <span>
            <span class="text-black-50">
                &#10090;
            </span>
            <span>
                @Model.RoomTitle
            </span>
            <span class="text-black-50">
                &#10091;
            </span>
        </span>
        
        حذف شود ؟
    </h3>

    <input type="submit" class="btn btn-danger" value="بله" />
    <a class="btn btn-success" asp-action="Rooms" asp-controller="Home">خیر</a>
</form>

        