@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.RoomsViewModel
@{
    ViewData["Title"] = "حذف تالار";
}

<form method="post" asp-action="DeleteConfirmed">

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.RoomTitle) : @Html.DisplayFor(model=>model.RoomTitle)

    </label>



    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.SubjectTitle) : @Html.DisplayFor(model=>model.SubjectTitle)
    </label>


    <h3 class="bg-danger text-white p-2 mb-2 mt-2 col-6">
        آیا می خواهید تالار بالا حذف شود ؟
    </h3>

    <input type="submit" class="btn btn-danger" value="بله" />
    <a class="btn btn-success" asp-action="Rooms" asp-controller="Home">خیر</a>
</form>

        