@model Subject

@{
    ViewData["Title"] = "افزودن موضوع جدید";
    Layout = null;
}

<form class="col-md-12" asp-action="Save" method="post" onsubmit="return jQueryAjaxPost(this,'subjects-admin-panel')">

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title"></span>
        </div>


        <div class="form-group">
        <input class="btn btn-success btn-block" type="submit" value="ذخیره" />
        </div>

    </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}