@model Subject


@{
    ViewData["Title"] = "جزییات موضوع";
}

<div>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Title) : @Html.DisplayFor(model=>model.Title)

    </label>


    <a class="btn btn-success" asp-controller="Home" asp-action="Subjects">بازگشت</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">حذف</a>
</div>

