@model Subject


@{
    ViewData["Title"] = "جزییات موضوع";
    Layout = null;
}

<div>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Title) : @Html.DisplayFor(model=>model.Title)

    </label>


    <input type="button" class="btn btn-success" data-dismiss="modal" value="بازگشت">
    <input type="button" class="btn btn-primary" onclick="showPopupModal('@Url.Action("Edit","Subjects",new {id = Model.Id},Context.Request.Scheme)','ویرایش موضوع','true')" value="ویرایش">
    <input type="button" class="btn btn-danger" onclick="showPopupModal('@Url.Action("Delete","Subjects",new {id = Model.Id},Context.Request.Scheme)','حذف موضوع','true')" value="حذف">

</div>

