 @model Subject

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<form class="col-12" asp-action="Save" onsubmit="return jQueryAjaxPost(this,'subjects-admin-panel')">

    <div class="form-group">
        @Html.DisplayNameFor(model=>model.Title) : <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title"></span>
    </div>


    <div class="form-group">
        <input class="btn btn-success" type="submit" value="ذخیره" />
    </div>

</form>